.env

test_results.xlsx

test_file.py

create_bucket.py
file_upload.py
list_buckets.py
old.py

test

myenv/

s3-experiments/

local-processing/

procfile

nixpacks.toml

__pycache__/

/utils/__pycache__/